# Built files
object/
bin/
lib/
build/
/include/
src/opencmiss_c.f90

# OpenCMISS examples repository
/examples

# OpenCMISS output
*.diag
*.out

# Editor files
*.swp
*~
doc/notes/EquationSets/FluidMechanicsClass/ConvectiveTransport.tex
