<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Commits for the Latest Successful Build</title>
</head>
<body>
    <h1>Commits for the Latest Successful Build</h1>
    <ul>
      <li>cellml: <a href="https://github.com/OpenCMISS/cellml/commit/{{cellml_commits}}">{{cellml_commits}}</a></li>
      <li>cm: <a href="https://github.com/OpenCMISS/cm/commit/{{cm_commits}}">{{cm_commits}}</a></li>
      <li>examples: <a href="https://github.com/OpenCMISS/examples/commit/{{examples_commits}}">{{examples_commits}}</a></li>
    </ul>
</body>
</html>
